{
  "all":true,
  "check-coverage": false,
  "per-file"      : true,
  "lines"         : 99,
  "statements"    : 99,
  "functions"     : 99,
  "branches"      : 99,
  "reporter"      : [
    "text-summary",
    "html"
  ],
  "sourceMap"     : false,
  "instrument"    : true,
  "require"       : [
    "@babel/register"
  ],
  "extension"     : [
    ".js"
  ],
  "include": [
        "src/**.js"
  ],
  "exclude":     [ "**/tests/*.js","**/assets/*.js"],
  "cache"         : true,
  "temp-dir"      : "./dist/tests/.nyc-temp",
  "report-dir"    : "./dist/tests/nyc"
}